*{
    margin:0;
}

.wh{
    height:100vh;
}

.ww{
    width:100vw;
}


.widt{
    width:100%;
}

main{
    height:calc(100vh - 70px);
}

.h{
    height:70px;
}

.bg-bar{
    background-color: #E9ECEF;
}

.fa-bell{
    color:#D17C23;
}

.bg-white{
    background-color: white;
}

.text-bg-dark{
    background-color: rgba(33, 37, 41, 0.5)
}

.dropdown-toggle:after{
    display: none;
}

.bg-sidebar{
    background-image: url(./risorse/img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0f263c;
}

.white{
    color: white;
}

.fa-plus{
    font-size: 20px;
    padding:10px;
}

.imaget{
    width:7%;
}


.name{
    width:50%;
}

th:first-child,
td:first-child{
    text-align: left;
}

th, 
td{
text-align: center;
}


.offcanvas.offcanvas-end{
    width:70%;
}

@media screen and (max-width:992px){
    .offcanvas.offcanvas-end{
        width:70%;
    } 
}

.list-none{
    list-style: none;
}








/* <div>
<i class="bi bi-house-door-fill white fs-4 py-2"></i>
<span class="white d-none d-md-inline-block">Home</span>
</div>
<div>
<i class="fa-solid fa-chart-simple white fs-4 py-2"></i>
<span class="white d-none d-md-inline-block">Stats</span>
</div>
<div>
<i class="fa-solid fa-signal white fs-5 py-2"></i>
<span class="white d-none d-md-inline-block">Signals</span>
</div> */

