*{
    margin:0;
}

.wh{
    height:100vh;
}

.ww{
    width:100vw;
}


.widt{
    width:100%;
}

main{
    height:calc(100vh - 70px);
}

.h{
    height:70px;
}

.bg-bar{
    background-color: #E9ECEF;
}

.fa-bell{
    color:#D17C23;
}

.bg-white{
    background-color: white;
}

.text-bg-dark{
    background-color: rgba(33, 37, 41, 0.5)
}

.dropdown-toggle:after{
    display: none;
}

.bg-sidebar{
    background-image: url(./risorse/img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0f263c;
}

.white{
    color: white;
}

.fa-plus{
    font-size: 20px;
    padding:10px;
}

.imaget{
    width:7%;
}

font



